{
  // Tipo fijo para cuentas de servicio
  "type": "service_account",
  
  // ID de tu proyecto en Firebase
  "project_id": "<PROJECT_ID>",
  
  // ID de la clave privada
  "private_key_id": "<PRIVATE_KEY_ID>",
  
  // Tu clave privada (incluye los delimitadores, con \n para saltos de línea)
  "private_key": "-----BEGIN PRIVATE KEY-----\n<PRIVATE_KEY_CONTENT>\n-----END PRIVATE KEY-----\n",
  
  // Email de la cuenta de servicio
  "client_email": "<CLIENT_EMAIL>@<PROJECT_ID>.iam.gserviceaccount.com",
  
  // ID de cliente
  "client_id": "<CLIENT_ID>",
  
  // URIs internos de Google
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/<CLIENT_EMAIL>%40<PROJECT_ID>.iam.gserviceaccount.com"
}